
.content {
  margin-top: 50px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

a.some {
  text-decoration: none;
  color:#212529;
}
/* Carouselin tyylit */

.carousel-item{
min-height: 280px;
}

#myCarousel {
background-color: #4C6CA1;
}

.carousel-control-prev, .carousel-control-next{
background-color: #4C6CA1;
}

/*Logon koko */
.logo {
width: 180px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#add {
  margin-left: 5px;
}

#save {
  margin-left: 5px;
}

#cart {
  margin-left: 5px;
}

textarea {
  resize: none;
}

