
.content {
  margin-top: 50px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

a.some {
  text-decoration: none;
  color:#212529;
}
/* Carouselin tyylit */

.carousel-item{
min-height: 280px;
}

#myCarousel {
background-color: #4C6CA1;
}

.carousel-control-prev, .carousel-control-next{
background-color: #4C6CA1;
}

/*Logon koko */
.logo {
width: 180px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#add {
  margin-left: 5px;
}

#save {
  margin-left: 5px;
}

#cart {
  margin-left: 5px;
}

textarea {
  resize: none;
}

.cartimg {
  width: 25px;
}

.cartspan {
  padding-left: 20px;
}

#cartnavbar {
  width: 40px;
}

.socialicons {
  width: 30px;
}

.socialspan {
  padding-left: 10px;
}

#h1 {
  text-align: center;
  font-weight: bold;
}

.homespan {
  display: table; 
  margin: 0 auto;
  padding-top: 10px;
}

#addcart {
  margin-left: 10px;
}

.input {
  border: 1px solid;
  border-color: black;
}

#productimg {
  width: 100%;
}

#productsimg {
  width: 70%;
}

#htuotekuvaus {
  padding-top: 80px;
}

#hnimi {
  padding-top: 45px;
}

.htuote {
  margin-top: 20px;
}

::marker {
  color: white;
}

.link {
  text-decoration: none;
  font-size: larger;
  color:#212529;
  margin-left: 8px;
}
